@font-face {
  font-family: 'BenchNine';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/BenchNine-Light.ttf);
}
@font-face {
  font-family: 'BenchNine';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/BenchNine-Regular.ttf);
}
@font-face {
  font-family: 'BenchNine';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/BenchNine-Bold.ttf);
}