/*
@font-face {
	font-family: 'BenchNine';
	src: url(../fonts/BenchNine-Light.ttf);
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: 'BenchNine';
	src: url(../fonts/BenchNine-Regular.ttf);
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: 'BenchNine';
	src: url(../fonts/BenchNine-Bold.ttf);
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: 'BenchNine';
	src: url(../fonts/BenchNine-Bold.ttf);
	font-weight: bold;
}
@font-face {
	font-family: 'Open Sans';
	src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
	font-family: 'Open Sans';
	src: url(../fonts/OpenSans-Bold.ttf);
	font-weight: bold;
}
@font-face {
	font-family: 'Open Sans';
	src: url(../fonts/OpenSans-Italic.ttf);
	font-weight: italic;
}
@font-face {
	font-family: 'Open Sans';
	src: url(../fonts/OpenSans-BoldItalic.ttf);
	font-weight: bold;
	font-style: italic;
}
*/
@font-face {
	font-family: 'Champagne';
	src: url(../fonts/Champagne_Limousines.ttf);
}